<h1> Dice Game</h1>

<%= @roll1 %>
<%= @roll2 %>
<%= @rolled %>


	<%= image_tag "d0#{@roll1}.png" %>
	<%= image_tag "d0#{@roll2}.png" %>

	<%=  "Your goal is now  " + "#{@roll}.to_s" %>
 <%=  "Now try to get " + " " + "#{@roll}.to_s" + " " + "again before you a 7." %>

	<%= link_to "Roll Again", dice_repeat_url %>
