
<h1> Dice Game</h1>

	<%= image_tag "d0#{@roll1}.png" %>
	<%= image_tag "d0#{@roll2}.png" %>

		
		  <p><%= "Your goal is now  " + points_score.to_s %></p>
    	  <p><%= "Now try to get " + " " + points_score.to_s + " " + "again before you a 7." %></p>
    	

<%= link_to "Roll Again", dice_roll_url %>
