<h1> Dice Game</h1>

<%= @roll1 %>
<%= @roll2 %>
<%= @rolled %>


<a href="https://uchicago.s3.amazonaws.com/d0#{@roll1}.png"</a>
<a href="https://uchicago.s3.amazonams.com/d0#{@roll2}.png"</a>
	<%= image_tag "d0#{@roll1}.png" %>
	<%= image_tag "d0#{@roll2}.png" %>

<%= link_to "Roll Again", rolling_url %>